<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Parrainage ESP 2015-2016</title>
  <base href="/">
</head>
<body ng-app="parrainage-esp-1516-main">
  <div ui-view>
  </div>
</body>
