<div class="collection-form-wrapper">
    <div class="collection-form">
        <div class="items-wrapper">
            <md-data-table-toolbar class="table-header">
                <h2 class="md-title">{{name}}</h2>
                <div flex></div>
                <md-input-container md-no-float>
                    <input type="text" name="search" placeholder="Recherche"
                           ng-model="search" ng-model-options="{debounce: 500}">
                </md-input-container>
            </md-data-table-toolbar>
            <md-data-table-container>
                <table md-data-table>
                    <thead md-order="order">
                    <tr>
                        <th name="#"></th>
                        <th name="prenom(s)" order-by="firstName"></th>
                        <th name="nom de famille" order-by="lastName"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in collection | filter: searchFn | limitTo : pagination.limit : (pagination.page-1) * pagination.limit | orderBy: order track by item._id">
                        <td class="index">{{collection.indexOf(item) + 1}}</td>
                        <td class="firstName">{{item.firstName}}</td>
                        <td class="lastName">{{item.lastName | uppercase}}</td>
                        <td class="controls">
                            <button ng-click="remove(item)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>
            <md-data-table-pagination md-limit="pagination.limit" md-page="pagination.page" md-total="{{collection.length}}"
                    md-label="{text: name + ' par page', of: 'de'}">
            </md-data-table-pagination>
        </div>
        <div class="form-wrapper">
            <form class="form" name="newItemForm">
                <input type="text" name="firstName" placeholder="Prenom(s)"
                        ng-model="newItem.firstName" required>
                <input type="text" name="lastName" placeholder="Nom"
                        ng-model="newItem.lastName" required>
                <button type="button" name="submit" ng-click="save(newItem);"
                        ng-disabled="newItemForm.$invalid">Ajouter</button>
            </form>
        </div>
    </div>
</div>
