<div class="form-wrapper">
    <div class="form" id="form" ng-controller="FormController">
        <pesp-collection-form collection="godfathers" name="'parrains'"></pesp-collection-form>
        <pesp-collection-form collection="godsons" name="'filleuls'"></pesp-collection-form>
    </div>
</div>