<div class="home-wrapper" pesp-animated-backgrounds
  pesp-animated-backgrounds-interval="5000">
  <div class="home" id="home" ng-controller="HomeController"
    pesp-full-height>
    <div ng-include="'client/modules/main/views/header.html'">
    </div>
    <div ng-include="'client/modules/main/views/matching-box.html'">
    </div>
  </div>
</div>
