<div class="sponsors-list-wrapper">
  <div class="sponsors-list" id="sponsors-list"
    ng-controller="SponsoringController">
    <div ng-include="'client/modules/main/views/header.html'">
    </div>
    <div class="table-wrapper">
      <md-data-table-toolbar>
        <h2 class="md-title">Liste des parrainages</h2>
        <div flex></div>
        <md-input-container md-no-float>
          <input type="text" name="search" placeholder="Recherche"
            ng-model="search" ng-model-options="{debounce: 500}">
        </md-input-container>
      </md-data-table-toolbar>
      <md-data-table-container>
        <table md-data-table>
          <thead md-order="order">
            <tr>
              <th name="#"></th>
              <th name="filleul" order-by="firstName"></th>
              <th name="parrain" order-by="godFather.firstName"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="godson in godsons | filter: searchFn | orderBy: order track by godson._id">
              <td>{{$index + 1}}</td>
              <td>{{godson.firstName}} {{godson.lastName | uppercase}}</td>
              <td>{{godson.godFather.firstName}} {{godson.godFather.lastName | uppercase}}</td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
    </div>
  </div>
</div>
